{% extends "shop/base.html" %}
{% block title %} password-reset {% endblock title %}
{% block main-content %}
<div class="row mt-2">
    <div class="shadow p-5 pt-3 col-sm-5 mx-auto">
        <form method="POST" novalidate class="">
            <h3 class="mb-3">Confirm Reset Password</h3>
            {% csrf_token %}
            {% for ff in form%}
            <div class="form-group mb-3">
                {{ff.label_tag}}{{ff}}
                <small class="text-danger">{{ff.errors|striptags }}</small>
            </div>
            {% endfor%}
            <!-- // wrong credentials or data// -->
            <div class="text-danger my-2">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <small class="alert m-0  p-0">{{error}}</small>
                {% endfor%}
                {%endif%}
            </div>
            <div class="form-group mb-3">
                <button class="btn btn-primary " type="submit">Set</button>
            </div>
        </form>
    </div>
</div>
{% endblock main-content %}