{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-1 text-center mx-auto">
            <h4 class="alert alert-success alert-heading text-success">
                Password reset complete and
                <br>
                Your New Password has been set. !!
                <br>
                <small>Use New password and sign in now.</small>
            </h4>
            <a href="{% url 'user-login' %}" class=" btn btn-primary ">Sign In</a>
        </div>
    </div>
</div>
{% endblock main-content %}